# ===== Database =====
DB_HOST=your-rds-endpoint
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change-me
DB_NAME=disaster_db
DB_SSL=true
DB_CONNECT_TIMEOUT=10000
DB_POOL_MAX=10

# ===== App =====
PORT=3000
NODE_ENV=development

# ===== AWS =====
AWS_REGION=us-east-1

# ===== SQS (จะเพิ่มใน Phase 3) =====
SQS_TRANSPORTING_URL=
SQS_SHELTER_STATUS_URL=
