# ===== Database =====
DB_HOST
DB_PORT
DB_USER
DB_PASSWORD
DB_NAME
DB_SSL
DB_CONNECT_TIMEOUT
DB_POOL_MAX

# ===== App =====
PORT
NODE_ENV

# ===== AWS =====
AWS_REGION

# ===== SQS (จะเพิ่มใน Phase 3) =====
SQS_TRANSPORTING_URL
SQS_SHELTER_STATUS_URL
